<h1>task details</h1>

   <% if @task.completed == false %>
          <i class="far fa-square"></i>
    <% else %>
          <i class="fas fa-check-square"></i>
    <% end %>
    <h2> <%= @task.title %></h2>
    <p> <%= @task.details %></p>


