/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#container {
  margin: 0 auto;
  margin-top: 60px;
  width: 600px;
  box-shadow: 1px 1px 3px darkgray;
  padding: 16px;
}

.completed {
  display:flex;
  justify-content: space-between;
}
.completed i {
  padding-top: 3px;
  margin-left: 8px;
  size: 16px;
}
.completed p {
  margin-left: 20px;
}

ul li {
  list-style: none;
}
